*.class
*.iml
*.jar
.cpcache/
.DS_Store
.hg/
.hgignore
.specljs-timestamp
/.idea
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
/tmp
node_modules/
package-lock.json
pom.xml
pom.xml.asc
profiles.clj
.clj-kondo/
datomic-pro-*/
datomic-pro-*.zip
.lsp/
lib/
*.log